/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$WhiteL: rgba(255, 255, 255, 1);
$PurpleHeart: rgba(130, 73, 149, 1);
$Grape: rgba(76, 5, 100, 1);
$Lavender: rgba(191, 142, 210, 1);
$Grape: rgba(125, 57, 148, 1);
$BlackL: rgba(0, 0, 0, 1);
$PurpleHeartD: rgba(114, 69, 128, 1);
$LavenderL: rgba(153, 114, 168, 1);
$LemonD: rgba(195, 156, 55, 1);
$Clouds: rgba(248, 245, 250, 1);
$Couds: rgba(230, 223, 233, 1);
$Lemon: rgba(244, 195, 69, 1);
$DUsrD: rgba(190, 190, 190, 1);
$SmokeD: rgba(13, 13, 13, 1);